<!DOCTYPE html>
<html lang="en">
<head>
	<title>Power Grid | GrievanceSystem Survey</title>
	<meta charset="UTF-8">
	<!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}"> -->
	<link rel="stylesheet" href="../static/styles/mainpage.css">
</head>
<body>
	<div class="main-container">
		<div class="box">
			<form class="form" action=" " method="POST">
				<span class="form-title">
					Survey - Grievance System
				</span>

				<div class="input-wrap">
					<span class="input-label">Age</span>
					<input class="input" type="text" name="name" placeholder="Enter your age">
				</div>

				<div class="input-wrap">
					<span class="input-label">Grade</span>
					<input class="input" type="text" name="email" placeholder="Enter your grade">
				</div>

				<div class="input-wrap">
					<span class="input-label">CC / Region</span>
					<input class="input" type="text" name="email" placeholder="Enter your CC / Region">
				</div>

				<!-- <div class="input-wrap" data-validate = "Message is required">
					<span class="input-label">CC/Reion</span>
					<textarea class="input" name="message" placeholder="Your message here..."></textarea>
				</div> -->

				<div class="button-wrap">
					<div class="button-bg"></div>
					<button class="form-button">
						<span>Submit</span>
					</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
